* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html {
	background-color: #eee;
}
body {
	border-top: 1rem solid crimson;
	border-bottom: 1rem solid crimson;
}
.parent {
	display: flex;
	margin-top: 0.5rem;
	padding-bottom: 1rem;
}
h1 {
	font-size: 4rem;
	writing-mode: vertical-lr;
}

h2 {
	margin: 1rem;
	font-size: 2rem;
}
.methods {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	margin: 1rem auto;
}
.methods > h3 {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 0.5rem;
}
.side {
	flex: 1;
	display: flex;
	flex-direction: column;
}

ul,
li {
	text-align: left;
	font-size: 1.2rem;
	list-style-type: "🌟 ";
}
ul {
	width: max-content;
	padding: 0.5rem;
	margin: 0.5rem;
	margin-top: none;
}
ul > h2 {
	text-align: left;
}
.ins {
	display: flex;
	justify-content: space-around;
	border: 2px solid crimson;
}
.keys {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-top: -0.8rem;
	padding-bottom: 0.3rem;
	font-size: 1.2rem;
}
.keys u {
	text-decoration: underline;
}
u {
	color: darkcyan;
	text-decoration: none;
}
